

@import "~styles/main";

.blogPostCard{
    box-shadow: 2px 2px 2px #cbcbcb;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    width: 230px;
 
          overflow: hidden;
     
     box-sizing: border-box;
     border-radius: 12px;
    

     @include e(img){
         width:100%;
        
          height: 95px;
        border-radius: 5px solid black;
        }
      

     @include e(content)
     {
  flex:1;
  padding:1rem 1rem ;

         h2{
             padding-right:0.8rem;
            
             @include font("Poppins",600,13px);
             line-height: 19px;
             
         }
         h3{
                @include font("Poppins",500,7.5px);
                margin-top:0.8rem;
                line-height: 11px;
                
                height: 44px;
               


         }
         @include m(readmore)
         {
display: flex;
align-items: center;
             span {
                 margin-top: 9px;
                 color: #2D3436;
                 
                 @include font("Roboto", 500,9px);
                 text-decoration-line:underline ;
             }
             p{
                 color:#7C8689;
                 @include font("Poppins",300,8px);
              
                  margin: 9px 0 0 3px;
                
                 line-height: 11px;
             }
         }
     }
     @include e(icons)
     {
         display: flex;
         justify-content: space-between;
         width: 100%;
         padding-bottom: 24px;
         
         
     }
         @include e(icon)
         {
             display: flex;
            justify-content: space-between;
             align-items: center;
             width:28%;
             
            

@include m(love)
{
        width: 12.5px;
         height: 11.26px;
       

         padding-left:13.25px ;
}

@include m(chat){
    width :11.25px ;
    height :11.25px;
    
}
@include m(bookmark)
{
    width: 11.37px;
    height: 15px;
       
}

         }
         @include e(circle)
         {

            display: flex;
        align-items: center;

        span{
            color: rgba(0, 0, 0, 0.6);
            font-size: 6px;
            line-height: 11px;
            padding-right: 2px;
            }
           @include m(user)
           {
               width:27px;
               height: 27px;
               padding-right:11px
           }
         }
     


}