@import '~styles/main';


.postsTrendingCard{
  @include flex-item-center(row);
  width: 594px;

  &__img {
    height: 141px;
}

  &__content {
    margin-left: 2rem;
    h1 {
      @include font-heading();
    }
    h3 {
      @include font-medium();
      margin-top: 10px;
      font-size: 16px;
      padding-right: 1.6rem;
      color: rgba(0, 0, 0, 0.6);
    }
    span {
      color: #005d88;
      font-weight: bold;
    }
  }
}
