@import "~styles/main";

//global styles across all profile elements
.profile {
  font-family: Inter;
  .button {
    margin: auto 2px;
  }
  .profile__title {
    @include profile__title;
  }
}

.profileTopWrap {
  margin: 10px 20px;
  width: 100%;
  display: flex;
  align-items: row;
}

.profileBottomWrap {
  display: flex;
  align-items: stretch;
  .authorInfo {
    color: color(text-light);
  }
}

.card {
  width: 100%;
  .first {
    display: flex;
    justify-content: space-between;
  }
  .desc {
    color: color(text-light);
  }
  .iconContainer {
    display: flex;
    justify-content: space-between;
    margin: 2px 4px;
    color: color(light);
    .heart {
      display: flex;
      span {
        margin-left: 2px;
      }
    }
    .comment {
      display: flex;
    }
  }
}
