@import "~styles/main";

//global styles across all profile elements
.profile {
  @include font();
  .button {
    margin: auto 2px;
  }
  .profile__title {
    margin: auto 20px auto 0px;
    color: color(pure-black);
    text-transform: capitalize;
    font-size: 1.125rem;
  }
}

.profileTop {
  margin: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.profileBottom {
  display: flex;
  align-items: stretch;
  .authorInfo {
    margin: auto 5px;
    vertical-align: middle;
    p {
      color: lighten(color(pure-black), 30);
      font-size: 0.9rem;
    }
  }
}

.card {
  width: 100%;
  .first {
    display: flex;
    justify-content: space-between;
  }
  .desc {
    font-size: 0.6rem;
    color: lighten(color(pure-black), 30);
  }
  .iconContainer {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    margin: 2px 4px;
    .icon {
      display: flex;
      span {
        vertical-align: middle;
        margin-top: 4px;
        margin-left: 2px;
      }
    }
    .comment {
      display: flex;
    }
  }
}
