@import "~styles/main";

.comment {
  @include font();
  margin: 20px auto;
  width: 60%;

  .avatar {
    position: fixed;
    margin: 0px -60px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5px 0;
    padding: 0;
    .comment__author {
      font-weight: 700;
      font-size: 0.85rem;
      display: inline-block;
      vertical-align: middle;
    }
    em {
      font-weight: 400;
      font-size: 0.66rem;
      display: block;
      color: lighten(color(pure-black), 50%);
    }
    &__detailsIcon {
      float: right;
    }
  }

  &__mid {
    font-size: 0.75rem;
    font-weight: 400;
    color: lighten(color(pure-black), 10%);
  }

  &__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    iconContainer {
      display: grid;
      justify-content: center;
    }
    .icon {
      vertical-align: middle;
    }
    .author {
      margin: auto 2px;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      margin-right: 5px;
      line-height: 24px;
    }
    &__name {
      font-size: 0.75rem;
      display: inline-block;
      color: lighten(color(pure-black), 40%);
    }
  }
}
