@import 'variables';

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $xl) {
    @content;
  }
}


@mixin flex-item-center($direction){
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:$direction;
}

@mixin font-heading() {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
@mixin font-semiBold() {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
}
@mixin font-medium() {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
