@import "variables";

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $xl) {
    @content;
  }
}

@mixin flex-item-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin font-weight-family($family, $weight, $size) {
  font-family: $family, "sans-serif";
  font-weight: $weight;
  font-size: $size;
}
