@import "variables";

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin font($font-family: "Inter", $font-style: normal, $font-size: 24px, $font-weight: normal) {
  font: $font-style $font-size $font-family;
  font-weight: $font-weight;
}

@mixin hover {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $xl) {
    @content;
  }
}

@mixin avatar($size, $border) {
  border-radius: 50%;
  margin: 0px 0px;
  height: $size;
  width: $size;

  @if $border {
    border: 2px dashed black;
  }
}
