.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  .header_right {
    .right_icons {
      .img {
        display: flex;
        gap: 20px;
        li {
          list-style: none;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .header_left {
    .left_titles {
      display: flex;
      h6 {
        font-size: 10px;
        color: gray;
        font-weight: 400;
        margin-left: 4px;
        margin-right: 4px;
        span {
          margin-right: 3px;
        }
      }
      .vertical_line {
        margin-top: 23px;
        display: flex;
        align-items: center;
        border-left: 1px solid gray;
        height: 12px;
      }
    }
  }
}
