@import "~styles/main";

.small {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
.large {
  @extend .small;
  img {
    height: 70px;
    width: 70px;
  }
}
.dotted {
  @extend .large;
  img {
    padding: 2px;
    height: 62px;
    width: 62px;
    border: 2px dashed black;
  }
}
