@import "~styles/main";

.avatar {
  &__img {
    border-radius: 50%;
    box-sizing: border-box;
    &--small {
      width: 50px;
      height: 50px;
    }

    &--large {
      height: 70px;
      width: 70px;
    }

    &--dashed {
      padding: 2px;
      height: 70px;
      width: 70px;
      border: 2px dashed black;
      border-radius: 50%;
    }

    &--dotted {
      @extend .avatar__img--small;
      border: 2px dotted black;
    }
  }
}
