@import "~styles/main";

.icon {
  display: inline-block;
  margin: 0 5px;
  height: 100%;
  vertical-align: middle;
}
//shame: this is very hacky method. If found an alternative, please replace
.icons {
  display: inline-block;
  margin: 0 0px;
  height: 100%;
  position: relative;
  top: 5px;
  vertical-align: middle;
}
