@import "~styles/main";

.icon {
  display: inline-block;
  margin: 0 5px;
  height: 100%;
  vertical-align: middle;
}
.icons {
  display: inline-block;
  margin: 0;
  height: 100%;
  position: relative;
  top: 5px;
  vertical-align: middle;
}
